<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>      
      <add key="ApplicationId" value="1189892814386135" />
      <add key="ApplicationSecret" value="7429f97f408f2bd200ce47dda60e9aee" />
      <add key="ExtendedPermissions" value="offline_access,publish_stream,publish_actions" />
    </appSettings>
</configuration>